
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">E-Ticaret App</a>
<div class ="shopping">
  <a href="/shopping">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-cart3" viewBox="0 0 16 16" >
    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </svg>
</a>
</div>

<!--   <div class="category" *ngFor="let category of categories">
    <a>{{category.categoryName}}</a>
  </div>
  <div class="campaign" *ngFor="let campaign of campaigns">
    <a>{{campaign.categoryName}}</a>
  </div> -->

  <ul class="navbar-nav px-3">



    <li class="nav-item text-nowrap">

       <a class="nav-link" routerLink="/login">
        <span style="font-size: 15px;">Login</span>
      </a>
    </li>

    <li class="nav-item text-nowrap">

      <a class="nav-link" routerLink="/register">
        <span style="font-size: 15px;">Register</span>
     </a>
   </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">

          <li class="nav-item">
            <a class="nav-link" href="/categories">
              <span data-feather="users"></span>
              Categories
            </a>
          </li>

            <li class="nav-item">
            <a class="nav-link" href="/products">
              <span data-feather="users"></span>
              Products
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/campaigns">
              <span data-feather="users"></span>
              Campaigns
            </a>
          </li>




        </ul>



      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">



    </main>
  </div>
</div>

